# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/delorean

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Temporary files under ocm directory
/ocm
scripts/ocm/downtime.json
scripts/jenkins-reports/report.txt

#ide
.vscode/
.idea/

.kube